body{
    background-color: rgb(207, 165, 12);
}
.barra{
    background-color: #c91b1b;
    border-style:solid;
    border-color: #c91b1b;
    border-width: 8px ;
}
.barrapreta{
    background-color: #c91b1b;
}
.figure-img{
    object-position: center;
    object-fit: none;
}
.navbar-nav a{
    color: white;
    text-decoration: nome;
    padding-left: .5rem;
    padding-right: .5rem;
}
.navbar{
    background-color: #c91b1b;
 }
 .Nav.Item a:hover{
    color: white;
}